body {
  font-size: 13px;
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
}

#resume {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  box-shadow: none;
  overflow: hidden;
}

#sidebar {
  min-width: 30%;
  height: 100%;
}

#sidebar-body {
  padding: 32.5px 0px 32.5px 0px;
}

#sidebar-header {
  background: #19647e;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar-header img {
  border-radius: 50%;
  max-width: 150px;
}

.info {
  font-size: 13px;
}

.subheader {
  font-weight: bold;
  font-size: 13px;
}
